/*
 * Box-sizing-model
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
  Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.clearfix:after {
  clear: both;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*  base  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
  line-height: 1.4;
  min-width: 320px;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Block_Contacts {
  background: #065A97;
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
.footer {
  background: #003F6D;
  padding: 30px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
/* // base  */
/*  navigation  */
.navigation {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  top: 51px;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 768px) {
  .navigation {
    font-size: 18px;
    position: absolute;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation {
    font-size: 22px;
  }
}
.navigation .navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 23px;
  right: 16px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  letter-spacing: 3px;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 81, 136, 0.95);
}
.navigation ul.navigation__list--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
    top: 5px;
  }
}
.navigation ul.navigation__list li {
  margin: 0 auto 40px auto;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 55px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .navigation ul.navigation__list li {
    margin-right: 100px;
  }
}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffe400;
  text-decoration: none;
}
/*  //navigation  */
/*  user-photo  */
.user-photo {
  overflow: hidden;
  width: 110px;
  height: 110px;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
}
.user-photo--shadow {
  box-shadow: 0px 0px 40px 0px #48779f;
}
.user-photo--big {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
}
@media (min-width: 1200px) {
  .user-photo--big {
    width: 205px;
    height: 205px;
  }
}
/*  //user-photo  */
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  top: 23px;
  right: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 5;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/* Animation */
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
/*  section  */
.section {
  padding: 35px 0 40px 0;
}
@media (min-width: 768px) {
  .section {
    padding: 50px 0 60px 0;
  }
}
@media (min-width: 1200px) {
  .section {
    padding: 85px 0 90px 0;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 100%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url("../img/bg/laptop.png");
  }
}
.section--padding-smaller {
  padding: 30px 0 35px 0;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding: 50px 0 60px 0;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding: 65px 0 67px 0;
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url("../img/bg/gear.png");
  }
}
/*  //section  */
/*  heading  */
.heading {
  font-size: 32px;
  font-weight: 700;
  color: #0052c2;
  margin: 0 0 9px 0;
}
@media (min-width: 768px) {
  .heading {
    font-size: 42px;
    margin: 0 0 19px 0;
  }
}
.heading--medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 16px 0 15px;
  color: #000;
}
.heading--center {
  text-align: center;
}
/*  //heading  */
/* definition-list  */
.definition-list {
  margin: 0 0 43px 0;
  padding: 0;
  color: #000;
  list-style-type: none;
}
.definition-list--item {
  margin: 0 0 13px 0;
  padding: 0;
}
.definition-list__def {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #0052c2;
}
.definition-list__desc {
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .definition-list__desc {
    font-size: 16px;
    line-height: 26px;
  }
}
/*  //definition-list  */
.button > a {
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  border-radius: 24px;
  display: inline-block;
  padding: 12px 26px 12px 26px;
  background: #0052c2;
  box-shadow: 0px 3px 15px 0px rgba(0, 82, 194, 0.5);
  transition: all 0.3s ease-in;
}
.button > a:hover,
.button > a:focus {
  background: #fff;
  color: #0052c2;
  text-decoration: none;
}
.button > a:active {
  background: #0052c2;
  color: #ffe400;
}
.fa {
  font-size: 18px;
  margin-right: 5px;
}
/*  filter  */
.filter-block {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 50px;
  }
}
.filter-block__block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.filter-block__element {
  margin: 0 0 9px 0;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .filter-block__element {
    margin-right: 0;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block__element {
    margin-right: 15px;
  }
  .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block__button {
  display: inline-block;
  color: #CECECE;
  padding: 12px 31px 15px;
  cursor: pointer;
}
.filter-block__button:hover {
  color: #000;
}
.filter-block__button--active {
  color: #000;
  padding: 10px 29px 13px;
  border: 2px solid #0052c2;
}
/*  //filter  */
#portfolio-project .mix {
  display: none;
}
.portfolio-item {
  margin: 0 auto 40px auto;
  max-width: 360px;
}
.portfolio-item__image {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  background-image: url(../img/placeholders/project_placeholder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 190px;
}
@media (min-width: 768px) {
  .portfolio-item__image {
    font-size: 24px;
    font-weight: 700;
    min-height: 150px;
  }
}
@media (min-width: 992px) {
  .portfolio-item__image {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image {
    margin-bottom: 16px;
    height: 250px;
  }
}
.portfolio-item__image__hover {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
  padding-top: 65px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background: rgba(0, 82, 194, 0.9);
  display: block;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__image__hover .fa {
  font-size: 55px;
  margin-bottom: 20px;
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__image__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover .fa {
    font-size: 60 px;
    position: static;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio-item__image__hover span {
  color: #FFF;
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover span {
    display: inline-block;
  }
}
.portfolio-item__image:hover .portfolio-item__image__hover {
  display: block;
  top: 0%;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  color: #0052c2;
}
@media (min-width: 768px) {
  .portfolio-item__title {
    font-size: 20px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__title {
    font-size: 24px;
    font-weight: 700;
  }
}
.portfolio-item__title a {
  color: #000;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
  }
}
.portfolio-item__title a:hover,
.portfolio-item__title afocus,
.portfolio-item__title aactive {
  text-decoration: none;
  color: #0052c2;
}
@media (min-width: 1200px) {
  .portfolio-item__title a:hover,
  .portfolio-item__title afocus,
  .portfolio-item__title aactive {
    border-bottom: 1px dotted #0052c2;
  }
}
.portfolio-item__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .portfolio-item__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
  }
}
/*  header  */
.header {
  position: relative;
  display: table;
  width: 100%;
  height: 390px;
  background-color: #394A57;
  background-image: url(../img/bg/BG-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__inner {
  display: table-cell;
}
@media only screen and (min-width: 768px) {
  .header__inner {
    vertical-align: middle;
  }
}
.header__title {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 0px 40px #48779f;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__title {
    font-size: 56px;
  }
}
.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 0px 40px #48779f;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__centered-content {
  display: inline-block;
  margin-top: -60px;
}
@media only screen and (min-width: 768px) {
  .header__centered-content {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .header__centered-content {
    margin-top: -162px;
  }
}
/*  //header  */
/*  resume  */
/*  //resume  */
