/*  section  */
.section{
	padding: 35px 0 40px 0;
	
	@media (min-width: 768px){
		padding: 50px 0 60px 0;
	}

	@media (min-width: 1200px){
		padding: 85px 0 90px 0;
	}
}

.section--bottom-line{
	border-bottom: 1px solid #e9eff3;
}

.section--bg-laptop {
	background-repeat: no-repeat;
	
	
	@media (min-width: 1500px){
		background-image: url("../img/bg/laptop.png");
		background-position: right 100%;
	}
}




/*  //section  */